Data cleaning and EDA

In [1]:
import pandas as pd

In [2]:
#download the file as dataframe
food_prices= pd.read_csv('Food Prices.csv')

In [3]:
#read the first five rows
food_prices.head()

,Country,Year,Month,Food Item,Unit of Measurement,Average Price,Currency,Price in USD,Availability,Quality
0,Australia,2018,1,Bread,Loaf,2.20,AUD,1.47,1,High
1,Australia,2018,2,Bread,Loaf,2.20,AUD,1.48,1,High
2,Australia,2018,3,Bread,Loaf,2.20,AUD,1.48,1,High
3,Australia,2018,4,Bread,Loaf,2.21,AUD,1.48,1,High
4,Australia,2018,5,Bread,Loaf,2.21,AUD,1.48,1,High

In [7]:
food_prices_Australia = food_prices[food_prices.Country == 'Australia']

AttributeError: 'DataFrame' object has no attribute 'Country'